<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="formcontainer">
    <h1>💬 Start New Chat</h1>
    <form action="/chats" method="post">
        <input name="from" type="text" placeholder="Who are you">
        <textarea name="message" id="">Write your message!!</textarea>
        <input name="to" type="text" placeholder="Enter the reciever name">
        <button class="create">Create Chat</button>
    </form>
    </div>
</body>
</html>